.header {
  background-color: #2C3E50;
  color: #fff;
  padding: 10px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header nav ul li a {
  color: chartreuse;
  text-decoration: none;
  padding: 5px 0; 
  transition: text-shadow 0.3s ease;  /* transitions to the glow */
}

.header nav ul li a:hover {
  text-decoration: underline;  
  text-shadow: 0 0 15px teal, 0 0 15px white;  /* Circular glow effect when hovering */
}

.header nav ul li a.active {
  text-shadow: 0 0 25px #7df6dc, 0 0 25px white;  /* Brighter circular glow effect for active links */
}

.footer {
  background-color: #2C3E50;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer a {
  color: chartreuse;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.about-me img {
  width: 150px;
  border-radius: 50%;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact input, .contact textarea {
  margin-bottom: 10px;
  padding: 10px;
}

.contact button {
  padding: 10px;
  background-color: #2C3E50;
  color: white;
  border: none;
}

.project a {
  display: block; /* Makes each link appear on a new line */
  margin: 5px 0;  /* Adds space between the links */
}
